p{
    background-color: blue;
}

p{
    background-color: brown;
}

.firstHeading{
    border: 10px dashed black;
}

#firstHeading{
    border: 2px solid black;
}

#heading{
    border: 5px dotted black;
}